header.header
   .header__content
      .header__left.container
         .header__nav-content 
            nav.header__nav
               a.header__nav-logo(href="#!")
                  img.header__nav-logo(src="/images/logo.jpg", alt="")
               .header__nav-call 
                  p.header__nav-num +7 (962) 88-777-51
                  a.header__nav-link(href="#!") Заказать обратный звонок
               a.header__nav-menu(href="#!")
                  img.header__nav-moon(src="images/moon.svg", alt="")
                  img.header__nav-moon(src="images/burger.svg", alt="")
         .header__box 
            .header__box-image 
               img.header__box-img(src="/images/left.png", alt="")
            .header__box-menu
               h2.header__box-pretitle АВТОРСКИЕ
               .header__box-titles
                  h2.header__box-title  КУХНИ 
                  h2.header__box-title  В СОЧИ 
               .header__box-links
                  a.header__box-link(href="#!") Бесплатный замер 
                  a.header__box-link(href="#!")  Расчет стоимости кухни
      .header__right 
         img.header__right-img(src="/images/right.jpg", alt="")